*{
    margin: 0;
    padding: 0;
}
body{
    padding-bottom: 200px;
}
.tab_bar{
    width: 100%;
    height: 200px;

    position: fixed;
    bottom: 0;
    background-color: #ccc;

    display: flex;
    align-items: center;
    justify-content: center;
}
#close_btn{
    /* display: none; */
}