.ivu-input {
  height: 46px;
}
.ivu-form .ivu-form-item-label {
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #253555;
  line-height: 30px;
}
.ivu-table-cell {
  span {
    margin: 10px;
    cursor: pointer;
  }
}
.ivu-select,
.ivu-select-selection,
.ivu-select-single,
.ivu-select-placeholder {
  height: 46px !important;
  line-height: 46px !important;
}
.ivu-date-picker{
  width: 100%;
}
.ivu-input-prefix, .ivu-input-suffix{
  line-height: 46px;
}
.ivu-date-picker{
  button{
    width: 46px !important;
    height: 30px !important;
  }
}
